.btn{
    justify-items: right;
    margin-top: 10px;
    margin-left: 1080px;
    background-color: rgba(0, 0, 255, 0.408);
}
.attendance h2{
    align-items: center;
    justify-items: center;
    display : center;
    text-align: center;
}