.sidebar{
    background-color: rgba(255, 166, 0, 0.788);
    height: 90vh;
    padding-right:90px;

}
.sidebar a{
    display: block;
    margin-bottom: 20px;
}

 .row nav{
margin-left: 0px;
 }

 .d-flex h1 {
    margin-left: 40%;
 }


 



