body{
    font-family: Arial, sans-serif;
}

.btn{
    background-color: #084298;
    border-radius: 5px;
    width: 10%;
    margin-left: 70%;
    margin-top: 50px;
}

.attendance-form h2{
    margin-left: 40%;
}